.contacts {
    position: relative;
    padding: 195px 0 55px;
    background-image: url('./../../img/contacts/footer-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;

    &::before {
        position: absolute;
        bottom: 0;
        left: 40%;
        content: "";
        width: 743px;
        height: 371.5px;
        background-image: url('./../../img/contacts/footer-oval.svg');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &::after {
        position: absolute;
        bottom: 0;
        left: 40%;
        content: "";
        width: 478px;
        height: 547px;
        margin-left: 79px;
        background-image: url('./../../img/contacts/girl.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.contacts__info {
    max-width: 359px;
    color: #fff;
}

.contacts__title {
    margin-bottom: 15px;
}

.contacts__text {
    max-width: 322px;
    margin-bottom: 30px;
}

@media(max-width: 1300px) {
    .contacts {
    
        &::before {
            width:643px;
            height: 271.5px;
        }
    
        &::after {
            width: 378px;
            height: 447px;
        }
    }
}

@media(max-width: 1100px) {
    .contacts {
    
        &::before {
            width:543px;
            height: 171.5px;
        }
    
        &::after {
            width: 278px;
            height: 347px;
        }
    }

    .contacts__info {
        .title {
            font-size: 32px;
        }

        .button {
            padding: 14px 30px;
            height: 50px;
            border-radius: 25px;
        }
    }

    .contacts__text {
        margin-bottom: 20px;
    }
}

@media(max-width: 910px) {
    .contacts {
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
            left: 50%;
            transform: translate(-50%);
            width: 543px;
            height: 171.5px;
        }
    
        &::after {
            left: 50%;
            transform: translate(-50%);
            width: 278px;
            height: 347px;
            margin-left: 0;
        }
    }

    .contacts__info {
        position: relative;
        z-index: 9;
    }
}

@media(max-width: 550px) {
    .contacts {
        padding: 155px 0 55px;

        &::before {
            width: 443px;
            height: 71.5px;
        }
    
        &::after {
            width: 228px;
            height: 290px;
        }
    }

    .contacts__info {
        text-align: center;

        .title {
            font-size: 28px;
        }

        .button {
            padding: 14px 30px;
            height: 50px;
            font-size: 14px;
        }
    }

    .contacts__text {
        max-width: 100%;
        margin-bottom: 20px;
    }
}

@media(max-width: 450px) {
    .contacts {
        &::before {
            width: 320px;
        }
    
        &::after {
            width: 190px;
            height: 212px;
        }
    }
}
