.serve {
    position: relative;
    padding: 72px 0 30px;

    &::before {
        position: absolute;
        left: 0;
        top: -50%;
        content: "";
        display: block;
        width: 100%;
        height: 704px;
        background-color: #F5F6FA;
        z-index: -1;
    }
}

.serve__heading {
    margin-bottom: 45px;
    line-height: 1.69;
    letter-spacing: 1.15px;
    text-align: center;

    .title {
        margin-bottom: 10px;    
    }
}

.serve__row {
    display: flex;
    justify-content: center;
    column-gap: 30px;
    row-gap: 30px;
}

@media(max-width: 992px) {
    .serve {
        padding: 32px 0 30px;

        &::before {
            height: 604px;
        }
    }
}

@media(max-width: 768px) {
    .serve {
        &::before {
            height: 504px;
        }
    }

    .serve__heading {
        margin-bottom: 25px;

        .title {
            font-size: 28px;    
        }
    }
}

@media(max-width: 650px) {
    .serve {
        &::before {
            display: none;
        }
    }

    .serve__row {
        flex-direction: column;
    }
}